 .u-section-1 {
  background-image: url("np://user.desktop.nicepage.com/Site_38652170/images/ae04538ad9eb82c17138d36d25a36f18e90c9d98ebc858a3a928e15e0bb03d3ee7ab2a3030b4f38d003c9523083531c97f4ca4610dc33b242e497a_1280.jpg?rand=b820");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 761px;
}

.u-section-1 .u-shape-1 {
  height: 326px;
  width: 466px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 91px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 431px;
  width: 527px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -269px auto 60px 61px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 4.25rem;
  font-family: Oswald, sans-serif;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 0 0 1px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px 13px 0 26px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 1px 0;
  padding: 18px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-shape-1 {
    height: 349px;
    width: 499px;
  }

  .u-section-1 .u-group-1 {
    width: 529px;
    margin-top: -292px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-group-1 {
    width: 483px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-shape-1 {
    height: 344px;
    width: 301px;
  }

  .u-section-1 .u-group-1 {
    width: 301px;
    margin-top: -298px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 224px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 875px;
}

.u-section-3 .u-image-1 {
  min-height: 428px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("np://user.desktop.nicepage.com/Site_38652170/images/76182361-c71b-4dac-901b-a1b9d0bedcfb.jpg");
  background-position: 50% 50%;
  margin: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 105px 50px 0;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: -140px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 399px;
  grid-gap: 16px;
}

.u-section-3 .u-list-item-1 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 50px;
}

.u-section-3 .u-group-2 {
  min-height: 167px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-icon-1 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.0625rem;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-list-item-2 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 50px;
}

.u-section-3 .u-group-3 {
  min-height: 167px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-icon-2 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.0625rem;
}

.u-section-3 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-list-item-3 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 50px;
}

.u-section-3 .u-group-4 {
  min-height: 167px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px;
}

.u-section-3 .u-icon-3 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.0625rem;
}

.u-section-3 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-list-item-4 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 50px;
}

.u-section-3 .u-group-5 {
  min-height: 167px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px;
}

.u-section-3 .u-icon-4 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.0625rem;
}

.u-section-3 .u-btn-4 {
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-text-10 {
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px auto 60px;
}

.u-section-3 .u-btn-5 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 798px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: -167px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 420px;
  }

  .u-section-3 .u-list-item-1 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-2 {
    transition-duration: 0.5s;
  }

  .u-section-3 .u-text-3 {
    transition-duration: 0.5s;
    width: auto;
    margin: 20px 20px 0;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin: 20px auto 0;
    padding: 0;
  }

  .u-section-3 .u-list-item-2 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-3 {
    transition-duration: 0.5s;
  }

  .u-section-3 .u-text-5 {
    transition-duration: 0.5s;
    width: auto;
    margin: 20px 20px 0;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin: 20px auto 0;
    padding: 0;
  }

  .u-section-3 .u-list-item-3 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-4 {
    transition-duration: 0.5s;
  }

  .u-section-3 .u-text-7 {
    transition-duration: 0.5s;
    width: auto;
    margin: 20px 20px 0;
  }

  .u-section-3 .u-btn-3 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin: 20px auto 0;
    padding: 0;
  }

  .u-section-3 .u-list-item-4 {
    transition-duration: 1.25s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-5 {
    transition-duration: 0.5s;
  }

  .u-section-3 .u-text-9 {
    transition-duration: 0.5s;
    width: auto;
    margin: 20px 20px 0;
  }

  .u-section-3 .u-btn-4 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.5s;
    margin: 20px auto 0;
    padding: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 36px;
    margin-bottom: 55px;
  }

  .u-section-3 .u-btn-5 {
    border-style: none none solid;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1142px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: -157px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 757px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 38px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1187px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 37px;
    margin-right: 37px;
    font-size: 3.75rem;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: -160px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 799px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 37px;
    margin-bottom: 57px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1846px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -234px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1540px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 30px;
  }
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #db545a !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-9,
.u-section-3 .u-text-9:before,
.u-section-3 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-9 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-9 {
  color: #ffffff !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-3 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-3 {
  color: #ffffff !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-5 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-5 {
  color: #ffffff !important;
}

.u-section-3 .u-text-7,
.u-section-3 .u-text-7:before,
.u-section-3 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-7 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-text-7 {
  color: #ffffff !important;
}

.u-section-3 .u-btn-4,
.u-section-3 .u-btn-4:before,
.u-section-3 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-btn-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-btn-4 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-section-3 .u-btn-2,
.u-section-3 .u-btn-2:before,
.u-section-3 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-btn-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-btn-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-section-3 .u-btn-3,
.u-section-3 .u-btn-3:before,
.u-section-3 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-btn-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-btn-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  color: #ffffff !important;
} .u-section-4 {
  background-image: none;
  min-height: 1491px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 940px);
  height: 413px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 533px;
  height: 370px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 52px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-image-2 {
  width: 743px;
  height: 495px;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: -1123px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-image-3 {
  width: 536px;
  height: 357px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -660px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-image-4 {
  width: 377px;
  height: 565px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 429px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-group-1 {
  width: 552px;
  min-height: 499px;
  background-image: none;
  box-shadow: 5px 5px 24px 0 rgba(0,0,0,0.25);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -805px auto -88px calc(((100% - 1140px) / 2) + 122px);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 30px auto 0 0;
  padding: 18px 54px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 613px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 364px;
    margin-top: 18px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-2 {
    width: 661px;
    height: 440px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-top: -1083px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-3 {
    width: 409px;
    height: 295px;
    margin-top: -605px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-4 {
    width: 393px;
    height: 524px;
    margin-top: 532px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 488px;
    min-height: 430px;
    margin-top: -827px;
    margin-bottom: 4px;
    margin-left: calc(((100% - 940px) / 2) + 122px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1490px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 414px);
    height: 514px;
  }

  .u-section-4 .u-image-1 {
    width: 386px;
    height: 299px;
    margin-top: -186px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 499px;
    height: 328px;
    margin-top: -911px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-3 {
    width: 360px;
    height: 259px;
    margin-top: -493px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-4 {
    width: 300px;
    height: 443px;
    margin-top: 658px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-top: -912px;
    margin-left: auto;
    margin-bottom: 93px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1486px;
  }

  .u-section-4 .u-shape-1 {
    width: 464px;
    height: 408px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 116px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-2 {
    width: 364px;
    height: 348px;
    margin-top: -992px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-3 {
    width: 300px;
    height: 240px;
    margin-top: -485px;
    margin-left: calc(((100% - 540px) / 2) + 26px);
  }

  .u-section-4 .u-image-4 {
    width: 318px;
    height: 415px;
    margin-top: 699px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 459px;
    margin-top: -911px;
    margin-right: calc(((100% - 540px) / 2) + 26px);
    margin-bottom: 235px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1512px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 237px);
    height: 604px;
    margin-top: 489px;
  }

  .u-section-4 .u-image-1 {
    width: 276px;
    height: 214px;
    margin-top: -228px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-2 {
    width: 245px;
    height: 270px;
    margin-top: -860px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-3 {
    width: 252px;
    height: 186px;
    margin-top: -420px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-4 {
    width: 280px;
    height: 416px;
    margin-top: 771px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 268px;
    min-height: 517px;
    margin-top: -1025px;
    margin-right: calc(((100% - 340px) / 2) + 27px);
    margin-bottom: 60px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 607px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 487px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 487px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
}

.u-section-5 .u-list-1 {
  margin-bottom: 0;
  margin-top: 78px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 201px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 3.75rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1328px;
}

.u-section-6 .u-shape-1 {
  width: 538px;
  left: 97px;
  right: auto;
}

.u-section-6 .u-image-1 {
  width: 835px;
  height: 557px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 92px 130px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 447px;
  height: 567px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -208px 0 0 auto;
}

.u-section-6 .u-image-3 {
  width: 634px;
  height: 381px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -176px auto 0;
}

.u-section-6 .u-group-1 {
  width: 495px;
  min-height: 536px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -683px auto 60px 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 30px auto 0 0;
  padding: 18px 54px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    width: 667px;
    margin-right: 105px;
  }

  .u-section-6 .u-image-2 {
    width: 380px;
    height: 525px;
  }

  .u-section-6 .u-image-3 {
    width: 629px;
    height: 427px;
    margin-right: 130px;
  }

  .u-section-6 .u-group-1 {
    width: 449px;
    min-height: 525px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-6 .u-shape-1 {
    width: 440px;
    left: 57px;
  }

  .u-section-6 .u-image-1 {
    width: 502px;
    height: 319px;
    margin-right: auto;
    margin-left: 89px;
  }

  .u-section-6 .u-image-2 {
    width: 284px;
    height: 405px;
    margin-top: -102px;
  }

  .u-section-6 .u-image-3 {
    width: 507px;
    height: 368px;
    margin-top: -37px;
    margin-right: 40px;
  }

  .u-section-6 .u-group-1 {
    width: 360px;
    min-height: 583px;
    margin-top: -693px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-6 .u-shape-1 {
    width: 377px;
    left: 28px;
  }

  .u-section-6 .u-image-1 {
    width: 420px;
    height: 280px;
    margin-top: 73px;
    margin-right: 39px;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    width: 270px;
    height: 382px;
    margin-top: -64px;
  }

  .u-section-6 .u-image-3 {
    width: 440px;
    height: 331px;
    margin-top: 142px;
    margin-right: 29px;
  }

  .u-section-6 .u-group-1 {
    width: 337px;
    margin-top: -740px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-6 .u-shape-1 {
    width: 202px;
    left: 14px;
  }

  .u-section-6 .u-image-1 {
    width: 242px;
    height: 198px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-6 .u-image-2 {
    width: 248px;
    height: 315px;
    margin-top: -40px;
  }

  .u-section-6 .u-image-3 {
    width: 301px;
    height: 210px;
    margin-top: 348px;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    width: 273px;
    margin-top: -716px;
    margin-bottom: 193px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-7 {
  background-image: none;
  min-height: 1310px;
}

.u-section-7 .u-shape-1 {
  height: 607px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: -547px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  width: 740px;
  margin: 11px auto 0;
}

.u-section-7 .u-list-1 {
  width: 1140px;
  margin: 57px auto 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 967px;
  grid-gap: 20px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 22px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 32px auto 0;
}

.u-section-7 .u-text-4 {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0;
  font-size: 0.888889rem;
  font-style: italic;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-list-item-2 {
  box-shadow: 5px 5px 22px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.875rem;
  font-style: normal;
  text-transform: uppercase;
  margin: 32px auto 0;
}

.u-section-7 .u-text-6 {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0;
  font-size: 0.888889rem;
  font-style: italic;
}

.u-section-7 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-list-item-3 {
  box-shadow: 5px 5px 22px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.875rem;
  font-style: normal;
  text-transform: uppercase;
  margin: 32px auto 0;
}

.u-section-7 .u-text-8 {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0;
  font-size: 0.888889rem;
  font-style: italic;
}

.u-section-7 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-list-item-4 {
  box-shadow: 5px 5px 22px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-9 {
  font-size: 1.875rem;
  font-style: normal;
  text-transform: uppercase;
  margin: 32px auto 0;
}

.u-section-7 .u-text-10 {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0;
  font-size: 0.888889rem;
  font-style: italic;
}

.u-section-7 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-list-item-5 {
  box-shadow: 5px 5px 22px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-11 {
  font-size: 1.875rem;
  font-style: normal;
  text-transform: uppercase;
  margin: 32px auto 0;
}

.u-section-7 .u-text-12 {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0;
  font-size: 0.888889rem;
  font-style: italic;
}

.u-section-7 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-list-item-6 {
  box-shadow: 5px 5px 22px 0 rgba(0,0,0,0.2);
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-13 {
  font-size: 1.875rem;
  font-style: normal;
  text-transform: uppercase;
  margin: 32px auto 0;
}

.u-section-7 .u-text-14 {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0;
  font-size: 0.888889rem;
  font-style: italic;
}

.u-section-7 .u-btn-6 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-text-15 {
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  margin: 24px auto 57px;
}

.u-section-7 .u-btn-7 {
  font-weight: 500;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 1230px;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 797px;
  }

  .u-section-7 .u-image-1 {
    height: 173px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 173px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    height: 173px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    height: 173px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-5 {
    height: 173px;
  }

  .u-section-7 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-6 {
    height: 173px;
  }

  .u-section-7 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-15 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1714px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1374px;
  }

  .u-section-7 .u-image-1 {
    height: 205px;
  }

  .u-section-7 .u-image-2 {
    height: 205px;
  }

  .u-section-7 .u-image-3 {
    height: 205px;
  }

  .u-section-7 .u-image-4 {
    height: 205px;
  }

  .u-section-7 .u-image-5 {
    height: 205px;
  }

  .u-section-7 .u-image-6 {
    height: 205px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 4107px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-image-1 {
    height: 355px;
  }

  .u-section-7 .u-image-2 {
    height: 355px;
  }

  .u-section-7 .u-image-3 {
    height: 355px;
  }

  .u-section-7 .u-image-4 {
    height: 355px;
  }

  .u-section-7 .u-image-5 {
    height: 355px;
  }

  .u-section-7 .u-image-6 {
    height: 355px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 3332px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-top: 24px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
    margin-top: 44px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-1 {
    height: 237px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-2 {
    height: 237px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-3 {
    height: 237px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-4 {
    height: 237px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-5 {
    height: 237px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-6 {
    height: 237px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 961px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 427px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 0 0 100px;
}

.u-section-8 .u-image-1 {
  height: 397px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-8 .u-image-2 {
  min-height: 394px;
  background-image: url("np://user.desktop.nicepage.com/Site_38652170/images/beautiful-scenery-mesas-landscape-bryce-canyon-national-park-utah-usa_181624-43740.jpg?rand=f020");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 20px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 821px;
}

.u-section-8 .u-container-layout-3 {
  padding: 100px 0 0;
}

.u-section-8 .u-image-3 {
  height: 586px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-1 {
  min-height: 351px;
  width: 442px;
  margin: -443px auto 0 -226px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 31px;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  align-self: center;
  margin: 20px auto 0;
  padding: 18px 54px;
}

.u-section-8 .u-text-3 {
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-2 {
  padding: 0;
}

.u-section-8 .u-text-4 {
  text-align: left;
  margin: 34px auto 60px;
}

.u-section-8 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-8 .u-image-1 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    min-height: 325px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 677px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .u-section-8 .u-image-3 {
    height: 483px;
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-1 {
    width: 420px;
    min-height: 367px;
    margin-top: -404px;
    margin-left: -225px;
  }

  .u-section-8 .u-btn-3 {
    border-style: none none solid;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-8 .u-image-1 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    min-height: 249px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 578px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-image-3 {
    height: 455px;
    width: 300px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    width: 312px;
    min-height: 414px;
    margin-top: -383px;
    margin-left: -171px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1759px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    min-height: 458px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 671px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 631px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-group-1 {
    width: 401px;
    min-height: 336px;
    margin-top: -1257px;
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-4 {
    padding: 20px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 36px;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-8 .u-image-1 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    min-height: 343px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 459px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-8 .u-image-3 {
    height: 397px;
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-1 {
    width: 280px;
    margin-top: -918px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-4 {
    margin-top: 30px;
  }
} .u-section-9 {
  min-height: 989px;
}

.u-section-9 .u-shape-1 {
  height: 392px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-image-1 {
  width: 771px;
  height: 598px;
  margin: -310px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-9 .u-group-1 {
  min-height: 435px;
  width: 482px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: auto;
  margin: -196px auto 60px calc(((100% - 1140px) / 2) + -32px);
}

.u-section-9 .u-container-layout-1 {
  padding: 3px 17px 40px;
}

.u-section-9 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 72px 59px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: -51px auto 0 15px;
  padding: 24px 23px 24px 21px;
}

.u-section-9 .u-text-2 {
  margin: 143px auto 0;
}

.u-section-9 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 408px;
  margin: -117px auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 138px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-9 .u-text-3 {
  font-size: 2.25rem;
  margin: 24px auto 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 138px;
}

.u-section-9 .u-container-layout-3 {
  padding: 29px 0;
}

.u-section-9 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 -38px;
}

.u-section-9 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
}

.u-section-9 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-9 .u-icon-4 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-9 .u-icon-5 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-9 .u-icon-6 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    width: 688px;
    height: 496px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-9 .u-group-1 {
    width: 447px;
    margin-top: -294px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 949px;
  }

  .u-section-9 .u-shape-1 {
    height: 365px;
  }

  .u-section-9 .u-image-1 {
    width: 631px;
    height: 456px;
    margin-top: -283px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-9 .u-group-1 {
    margin-top: -119px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 68px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 810px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 390px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-9 .u-group-1 {
    margin-top: -50px;
    margin-left: auto;
    margin-bottom: 57px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 102px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 655px;
  }

  .u-section-9 .u-shape-1 {
    height: 264px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 266px;
    margin-top: -202px;
    margin-right: auto;
  }

  .u-section-9 .u-group-1 {
    width: 310px;
    margin-top: -64px;
    margin-bottom: 60px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-9 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 64px;
  }
}